.mobile-menu-hide{
    padding-top: 0!important;
}

.site-nav{
    padding-top: 25px;
}

.text-logo {
    cursor: default;
}

.arrow {
    border: solid #aaa;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin: 0 0 2px 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.home-text h1{
    font-size: 47px !important;
}

.padding-right{
    padding-right: 30px !important;
}

.padding-left{
    padding-left: 28px!important;
}

#scrollUp{
    visibility: hidden;
    background-color: #333;
    border: 1px solid #222;
    color: #aaa;
    position: fixed;
    bottom: 10px;
    right: 15px;
    z-index: 100;
    display: inline-block;
    padding: 0;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    opacity: 1;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 12px 0 rgb(0 0 0 / 12%);
    -moz-box-shadow: 0 0 12px 0 rgba(0,0,0,.12);
    box-shadow: 0 0 12px 0 rgb(0 0 0 / 12%);
}

#scrollUp:hover{
    color:#0099e5
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; }}
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; }}
@keyframes fadeIn { from { opacity:0; } to { opacity:1; }}

@-webkit-keyframes fadeOut { from { opacity:1; } to { opacity:0; }}
@-moz-keyframes fadeOut { from { opacity:1; } to { opacity:0; }}
@keyframes fadeOut { from { opacity:1; } to { opacity:0; }}

.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration: 0.2s;
    -moz-animation-duration: 0.2s;
    animation-duration: 0.2s;
}

.fade-out {
    opacity:1;  /* make things visible upon start */
    -webkit-animation:fadeOut ease-out 1;  /* call keyframe named fadeOut, use animattion ease-out and repeat it only 1 time */
    -moz-animation:fadeOut ease-out 1;
    animation:fadeOut ease-out 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 0)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration: 0.2s;
    -moz-animation-duration: 0.2s;
    animation-duration: 0.2s;

    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.fade-in.fade-out.one {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

@media screen and (max-width: 768px){
    .padding-left{
        padding-left: 15px!important;
    }
}

#status {
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
}

#status.success {
    background-color: #50C878;
    color: #333;
    animation: status 4s ease forwards;
}

#status.error {
    background-color: rgb(250, 129, 92);
    color: #333;
    animation: status 4s ease forwards;
}
@keyframes status {
    0% {
        opacity: 1;
        pointer-events: all;
    }
    90% {
        opacity: 1;
        pointer-events: all;
    }
    100% {
        opacity: 0;
        pointer-events: none;
    }
}

a:visited.btn-primary, a:link.btn-primary, a:active.btn-primary,
a:visited.btn-secondary, a:link.btn-secondary, a:active.btn-secondary {
    background-color: #333333;
    box-shadow: none;
    color: #fff;
}

a:hover.btn-primary{
    background-color: #007ced;
}

a:hover.btn-secondary{
    color: #333333;
    background-color: #d5d5d5;
}

@media screen and (max-width: 746px){
    .fw-divider-space {
        padding-top: 0!important;
    }
}

.footer-social-links > li {
    padding-top: 13px;
    padding-bottom: 13px;
}

.footer-copyrights{
    padding-top: 13px;
    padding-bottom: 13px;
}

body{
    background-image:url(../icons/main_bg_14.png);
}