/* Switch button */
/* Rosso: #d84f68 #ff7ca7 */
/* Celeste: #007ced */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch .checkbox {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 1px 1px 5px 0 #007ced inset;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #007ced;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: inset 1px 1px 2px 0px #33ccffff;
}

.checkbox:checked + .slider {
    box-shadow: 1px 1px 5px 0 #d84f68 inset;
}

.checkbox:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: #d84f68;
    box-shadow: inset -1px 1px 2px 0px #ff7ca7;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
